vertexai~=1.49.0
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
google-cloud-storage
anthropic[vertex]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
